<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/floating-labels.css" />

  <title>Colombia Mission - Technical Test</title>
</head>

<body>
  <form class="form-signin" method="POST" action="/">
    {{ if .ErrorsFound }}
      {{ range .Errors }}
        <div class="alert alert-danger" role="alert">
          {{ . }}
        </div> 
      {{ end }}
    {{ end }}
    {{ if .Success }}
      <div class="alert alert-success" role="alert">
          Your information was saved successfully!
      </div> 
    {{ end }}
    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal">Test Survey</h1>
      <p>Please enter the following info below</p>
    </div>

    <div class="form-label-group">
      <input type="text" id="name" name="name" class="form-control" placeholder="Name" required autofocus>
      <label for="name">Name</label>
    </div>

    <div class="form-label-group">
      <input type="text" id="color" name="color" class="form-control" placeholder="Favorite Color" required>
      <label for="name">Favorite Color</label>
    </div>

    <div class="form-label-group">
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-primary">
          <input type="radio" name="cats" id="cats"> Cats
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="dogs" id="dogs"> Dogs
        </label>
      </div>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>